<h2 *ngIf="!noPlaylist">
  <span class="back" routerLink="/">←</span>
  <span>Playlists salvas</span>
</h2>
<main *ngIf="!noPlaylist">
  <section class="playlists-section">
    <ul>
      <li *ngFor="let playlist of playlists" (click)="selectPlaylist(playlist)">
        <img [src]="playlist.songs[0].track.images.coverart" [alt]="playlist.songs[0].track.subtitle">
        <p>{{ playlist.city }} - {{ playlist.temperature }}°C</p>
        <p>Categoria: {{ playlist.category }}</p>
      </li>
    </ul>
  </section>
  <section class="list-section" *ngIf="!!selectedPlaylist">
    <div class="list-section-header">
      <h3 class="list-section-header-title">
        <span>{{ selectedPlaylist.city }} </span>
        <span>{{ selectedPlaylist.temperature }}°C </span>
        <span>{{ selectedPlaylist.category }}</span>
      </h3>
      <div>
        <button class="list-section-header-button" (click)="removePlaylist(selectedPlaylist.id)">
          Remover playlist
        </button>
      </div>
    </div>
    <app-list class="list" width="35vw" [list]="selectedPlaylist.songs"></app-list>
  </section>
</main>

<div *ngIf="noPlaylist">
  <span>Sem Playlists Criadas</span>
</div>